.banner {
  outline: 1px solid blue;
  position: relative;
  overflow: hidden;
}

.banner__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #000;
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
}

.banner__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}