.banner {
  outline: 1px solid blue;
  position: relative;
  overflow: hidden;
}

.banner__details {
  z-index: 1;
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
  max-width: 300px;
}

.banner__bg-image {
  position: absolute;
  inset: 0;
  z-index: 0;
}